@import "../variables";

.root {
  // position: absolute;
  // width: 100%;
}
.rows {
  position: relative;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 50%,rgba(0,0,0,0.05) 100%);
}
.row {
  padding: 0;
  margin: 0;

  &:first-child {
    text-align: right;

    li {
      background-color: #FFF;
      // box-shadow: 0 -1px 0 $borderColor;
    }
  }
  &:nth-child(2) {
    // box-shadow: 0 -1px 0 $borderColor;
  }
  &.partial {
    &:first-child {
      li {
        &:first-child {
          // box-shadow: 0px -1px 0 #E9E9E9, inset 1px 0 0 #E9E9E9;
        }
      }
    }
    &:last-of-type {
      li {
        position: relative;
        z-index: 1;
      }
    }
  }
}

.label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: 0;

  font-size: 30px;
  font-weight: 500;
  z-index: 3;
  pointer-events: none;

  background-color: rgba(255,255,255,0.6);

  opacity: 0;
  transition: opacity 0.3s ease;

  > span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: $rowHeight;

    display: flex;
    align-items: center;
    justify-content: center;

    text-transform: capitalize;
  }

  &.partialFirstRow {
    top: $rowHeight;
  }
}
