@import "../variables";

.root {
  position: relative;
  z-index: 5;

  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  // box-shadow: inset 0 -1px rgba(0,0,0,0.04);
}

.day {
  padding: 10px 0;
  flex-basis: 1 / 7 * 100%;
  flex-grow: 1;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
}
