@import "../variables";

.root {
  width: 4px;
  height: 4px;
  border: 1px solid #c7c7c7;
  border-radius: 50%;
  margin-left: 2px;
  &:first-child {
    margin: 0;
  }
  &.unpublished {
    background-color: red;
    border-color: red;
  }
  &.published {
    background-color: green;
    border-color: green;
  }
  &.scheduled {
    background-color: #eace41;
    border-color: #eace41;
  }
}